* body {
    box-sizing: border-box;
    width:auto;
    background-color: azure;
    border: 2px solid grey;
    padding:10px 10px;
    margin:auto;
}
header {
    height:100vh;
    position: relative;
}
/*
.new-list1 {
    text-align: center;
}
*/
.list-1 {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

.list-2 {
    text-align: right;
    text-decoration: none;
    list-style-type: none;
    
}
.my-first-grid {
    display:grid;
    grid-gap:10px;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;
    background-color: #e4e4e4;
}

.fav-styled {
    padding: 15px 15px;
}

.footer-1 {
    box-sizing: border-box;
    border: 2px solid lightslategrey;
    text-align: center;
    font-size: larger;
    font-style: italic;
    padding: 20px 40px;
    background-color: aquamarine;
    text-decoration:;
    float:left;
}

/* GRID TRAINING */

.grid-item-1 {
    grid-row:1;
    grid-column:1;
    padding: 40px 40px;
}
.grid-item-2 {
    grid-row:1;
    grid-column:2;
}
.grid-item-3 {
    grid-row:2;
    grid-column:1;
}
.grid-item-4 {
    grid-row:2;
    grid-column:2;
    padding: 10px 20px;
}

[class^='grid-item'] {
    outline:2px dashed #f90;
    font-size:30px;
    color:#333;
}